.deck-expansion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expanded-deck-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expanded-deck-summary h2 {
    font-family: "oddly-calming";
}

.expanded-deck-summary p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 3vw;
}

.deck-cards-layout {
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}