:root {
  --titlebar-height: 45px;
  --titlebar-color: #db8642;
  --bg-color: #efa9a3;
  --card-color: #aad1ab;
}

body {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.titlebar-spacer {
  height: var(--titlebar-height);
  width: 100%;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.deck-container {
  padding: 5px 11px 11px 5px;
  border-radius: 10px;
  transition: 0.2s all;
  transform: rotate(0deg);
}

.deck-container:hover {
  box-shadow: inset 0px 0px 6px;
}

.card-element {
  margin: 20px;
  height: 220px;
  width: 160px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  background: var(--card-color);
  color: white;
  transition: 0.2s all linear;
}

.card-element.top {
  box-shadow: 2px 2px var(--card-color),
    3px 3px black,
    5px 5px var(--card-color),
    6px 6px black;
  z-index: 1;
  position:inherit;
}

.card-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck-cards-layout {
  width: 90vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.active-form {
  position: fixed;
  top: var(--titlebar-height);
  left: 0px;
  width: 100vw;
  height: calc(100vh - var(--titlebar-height));
  background: rgba(255,255,255,80%);
  backdrop-filter: blur(2px);
  z-index: 10;
}

.active-form > .form-container {
  position: fixed;
  margin-top: -80px;
  top: 50vh;
  left: calc(50vw - 80px);
  border-radius: 10px;
  background: white;
  padding: 20px;
}

.hidden-form {
  display: none;
}

.close {
  top: -30px;
  left: -50px;
  position: absolute;
  padding: 10px;
  border: none;
  background: none;
  font-size: 1em;
}

.titlebar {
  height: var(--titlebar-height);
  background: var(--titlebar-color);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar button {
  position: fixed;
  right: 5vw;
  height: 25px;
  background: #db8642;
  border: 1px solid #a95410;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 2px #cb7632;
}

.titlebar button:hover {
  background: #df8a46;
}

.titlebar button:active {
  background: #a95410;
}

.window-title {
  font-family: "Arial Rounded MT Bold";
}